<HTML>
    <head>
        <title>Flask app</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styling.css') }}">
    </head>
    <body>
        <div class="topnav">
                <a class="active" href="#home">Upload Image</a>
                <a href="#news">View Translations</a>
                <a href="/">Logout</a>
        </div>
        <div class="form">
            <div class="form">
                <img>
            </div>
            <button class ="button">Upload image</button>
        </div>
    </body>
    
    <footer>
    </footer>
    
</HTML>
  