{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styling.css') }}">
{% endblock %}

{% block navbar %}
<div class="topnav">
        <a class="active" href="/upload_image">Upload Image</a>
        <a href="/view_translations">View Translations</a>
        <a href="/">Logout</a>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6" style="text-align: center;">
            <h1 style="overflow: hidden;text-overflow: ellipsis">{{filename}}{{image_name}}</h1>
            {% if filename %}
            <img src="{{ url_for('static', filename='img/' + filename) }}" class="img-responsive" alt={{filename}}>
            {%endif%}   
            {% if imageURL %}
            <img src="{{ imageURL }}" class="img-responsive" alt={{imageURL}}>
            {%endif%}   
                <form method='post' enctype='multipart/form-data'> 
                        <input type="file" name="file" class="form-control">
                        <button class="btn btn-primary" type='submit' value='Upload'>Upload</button>
                </form>
            </div>  
        <div class="col-md-3">
            <h3>Detected text:</h3>
            {% if detectedText %}
            <textarea name="text" form = "uploadForm" class="form-control" style="height:500px;"> {{detectedText}}
            </textarea>
            <form class="form-inline" id="uploadForm" method="POST" action="{{ url_for('display_translation') }}">
                <div class="form-group">
                  <div class="input-group">
                      <span class="input-group-addon">Please select</span>
                      {% if filename %}
                      <input form = "uploadForm" style="display: none;" name = "filename" value="{{filename}}"></input>
                        {% endif %}   
                        {% if imageURL %}
                      <input form = "uploadForm" style="display: none;" name = "imageURL" value="{{imageURL}}"></input>
                        {% endif %}  
                      <select name="lang_select" class="selectpicker form-control">
                                <option value="ar">Arabic</option>
                                <option value="zh">(Simplified)Chinese</option>
                                <option value="zh-TW">(Traditional)Chinese</option>
                                <option value="cs">Czech</option>
                                <option value="da">Danish</option>
                                <option value="nl">Dutch</option>
                                <option value="en">English</option>
                                <option value="fi">Finnish</option>
                                <option value="fr">French</option>
                                <option value="de">German</option>
                                <option value="el">Greek</option>
                                <option value="he">Hebrew</option>
                                <option value="hi">Hindi</option>
                                <option value="hu">Hungarian</option>
                                <option value="id">Indonesian</option>
                                <option value="it">Italian</option>
                                <option value="ja">Japanese</option>
                                <option value="ko">Korean</option>
                                <option value="ms">Malay</option>
                                <option value="no">Norwegian</option>
                                <option value="fa">Persian</option>
                                <option value="pl">Polish</option>
                                <option value="pt">Portuguese</option>
                                <option value="ro">Romanian</option>
                                <option value="ru">Russian</option>
                                <option value="es">Spanish</option>
                                <option value="sv">Swedish</option>
                                <option value="th">Thai</option>
                                <option value="tr">Turkish</option>
                                <option value="uk">Ukrainian</option>
                                <option value="ur">Urdu</option>
                                <option value="vi">Vietnamese</option>
                            </select>
                            <button type="submit" class="btn btn-default">Translate!</button>
                    </div>
                </div>
            </form>
            {% else %}
            <textarea class="form-control" style="height:500px;"> 
            </textarea>
            {% endif %}
        </div>
        <div class="col-md-3">
            <h3>Translated text:</h3>
            {% if translated_text %}
            <textarea class="form-control" style="height:500px;">{{translated_text}}</textarea>
            {% else %}
            <textarea class="form-control" style="height:500px;"></textarea>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}